<!-- <app-navbar></app-navbar> -->
<div class="main-container">
  <main class="dashboard">

    <div class="dashboard__column dashboard__column--left">
      <div class="collapse-section collapse-section--vertical collapse-section--left" (mousedown)="onLeftCollapseMouseDown($event)">
        <button class="collapse-section__button collapse-section__button--vertical"></button>
      </div>
      <app-sidebar></app-sidebar>
    </div>

    <div class="dashboard__main">
      <div class="chart-container" style="height: 600px;">
          <canvas #canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>

    <div class="dashboard__column dashboard__column--right">

      <div  class="collapse-section collapse-section--vertical collapse-section--right" (mousedown)="onRightCollapseMouseDown($event)">
        <button class="collapse-section__button collapse-section__button--vertical"></button>
      </div>
      <app-sidebar-left></app-sidebar-left>
    </div>

  </main>
  <app-footer class="footer"></app-footer>
</div>

