<app-navbar></app-navbar>
<section>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <aside class="col-3">

        <div class="sidebar-wrapper">
          <nav id="sidebar">

            <ul class="list-unstyled components">
              <p>Symboll</p>
              <li class="active">
                <a href="#favoritSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Favourites</a>
                <ul class="collapse show list-unstyled" id="favoritSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#cryptoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Crypto</a>
                <ul class="collapse list-unstyled" id="cryptoSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#forexSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Forex</a>
                <ul class="collapse list-unstyled" id="forexSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#indicesCashSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Indices cash</a>
                <ul class="collapse list-unstyled" id="indicesCashSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#commoditiesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Commodities</a>
                <ul class="collapse list-unstyled" id="commoditiesSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#preciousMetalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Precious Metals</a>
                <ul class="collapse list-unstyled" id="preciousMetalsSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesDESubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities DE</a>
                <ul class="collapse list-unstyled" id="equiditiesDESubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesJPsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities JP</a>
                <ul class="collapse list-unstyled" id="equiditiesJPsubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesUSSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities US</a>
                <ul class="collapse list-unstyled" id="equiditiesUSSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesBRSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities BR</a>
                <ul class="collapse list-unstyled" id="equiditiesBRSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesFESubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities FR</a>
                <ul class="collapse list-unstyled" id="equiditiesFESubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesSESubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities SE</a>
                <ul class="collapse list-unstyled" id="equiditiesSESubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesTRSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities TR</a>
                <ul class="collapse list-unstyled" id="equiditiesTRSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#equiditiesUKSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities UK</a>
                <ul class="collapse list-unstyled" id="equiditiesUKSubmenu">
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                  <li>
                    <a href="#">list item</a>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>


      </aside>


      <div class="col-9"></div>
    </div>
  </div>
</section>
