#sidebar {
  min-height: 100vh;

  transition: all 0.3s;
  background: #222a42 !important;

  .dropdown-toggle::after {
    float: right;
  }
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  // color: #fff;
  padding: 10px;
}

#sidebar ul li img {
  opacity: 0.3;
  transition: all 0.3s;
}
#sidebar > ul > li > a {
  border-top: 1px solid rgba(#fff, 0.1);
  color: #fff !important;
  opacity: 1;
  padding: 18px 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: rgba(#fff, 0.1);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}

.collapse-section {
  position: absolute;
  z-index: 18;
}
.collapse-section--vertical {
  top: 0;
  height: 100%;
  width: 10px;
  cursor: ew-resize;
}
.collapse-section--left {
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.collapse-section::before {
  position: absolute;
  content: "";
  background: #01e4ff;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.collapse-section--vertical::before {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 2px;
}
.collapse-section__button {
  position: absolute;
  height: 1.875rem;
  width: 1.875rem;
  background: none;
  border: 0;
  opacity: 0;
  cursor: pointer;
  border-radius: 100%;
  background: #354759;
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
}
.collapse-section__button--vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.collapse-section--left
  .collapse-section__button {
  left: 8px;
}
.collapse-section__button:before,
.collapse-section__button:after {
  position: absolute;
  content: "";
  background-color: #01e4ff;
  width: 2px;
  border-radius: 16px;
  height: 0.5rem;
  left: 0.8125rem;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.collapse-section__button:after {
  top: 13px;
}
.collapse-section__button:before,
.collapse-section__button:after {
  position: absolute;
  content: "";
  background-color: #01e4ff;
  width: 2px;
  border-radius: 16px;
  height: 0.5rem;
  left: 0.8125rem;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.collapse-section__button:before {
  top: 7px;
}
.collapse-section:hover::before {
    opacity: 1;
}
.collapse-section:hover .collapse-section__button {
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
    text-align: left;
    line-height: 1;
}
.carousel-caption p {
  color: rgba(#fff, 0.9);
  font-size: 12px;
}
.carousel-caption h5 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 10px;
  line-height: 0.9;
}

.tile__item {
    background: rgba(14, 15, 26, 0.25);
    margin-bottom: 0.1875rem;
    padding: 0.625rem;
}
.shoutbox-rooms__item {
    cursor: pointer;
    background: none;
    &:hover {
      background-color: rgba(#fff, 0.1);
    }
}

.shoutbox-rooms__item {
    position: relative;
}
.justify-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.shoutbox-room__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.5rem;
}
.shoutbox-rooms__icon {
    padding: 0.5rem;
    font-size: 3rem;
    border-radius: 50%;
    background-color: #1a2330;
    color: #354759;
    -webkit-transition: 0.5s color ease;
    transition: 0.5s color ease;
}
.shoutbox-room__icon i {
    font-size: 1.5rem;
}
.align-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.full-width {
    width: 100%;
}
.shoutbox-rooms__room-title {
    // font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    color: #01e4ff;
}
.shoutbox-rooms__room-title {
    font-size: 1rem;
}
.shoutbox-rooms__message-preview {
    font-size: 0.8rem;
    color: #c6d2db;
}
