#sidebar {
  min-height: 100%;

  transition: all 0.3s;
  background: #222a42 !important;

  .dropdown-toggle::after {
    float: right;
  }
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  // color: #fff;
  padding: 10px;
}

#sidebar ul li * {
  opacity: 0.85;
  transition: all 0.3s;
}
#sidebar > ul > li > a {
  border-top: 1px solid rgba(#fff, 0.1);
  color: #fff !important;
  opacity: 1;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: rgba(#fff, 0.1);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}


