<div class="sidebar-wrapper">
  <nav id="sidebar">

    <ul class="list-unstyled components">
      <div class="d-flex justify-content-between">
        <span class="flex-fill">Symboll</span>
        <span class="text-right pr-2 flex-fill">Sell</span>
        <span class="flex-fill">Buy</span>
        <span class="flex-fill">Change</span>
        <span class="flex-fill text-right">Flag</span>
      </div>
      <li class="active">
        <a href="#favoritSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Favourites</a>
        <ul class="collapse show list-unstyled" id="favoritSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>

        </ul>
      </li>

      <li>
        <a href="#cryptoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Crypto</a>
        <ul class="collapse list-unstyled" id="cryptoSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#forexSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Forex</a>
        <ul class="collapse list-unstyled" id="forexSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#indicesCashSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Indices cash</a>
        <ul class="collapse list-unstyled" id="indicesCashSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#commoditiesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Commodities</a>
        <ul class="collapse list-unstyled" id="commoditiesSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#preciousMetalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Precious
          Metals</a>
        <ul class="collapse list-unstyled" id="preciousMetalsSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesDESubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          DE</a>
        <ul class="collapse list-unstyled" id="equiditiesDESubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesJPsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          JP</a>
        <ul class="collapse list-unstyled" id="equiditiesJPsubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesUSSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          US</a>
        <ul class="collapse list-unstyled" id="equiditiesUSSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesBRSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          BR</a>
        <ul class="collapse list-unstyled" id="equiditiesBRSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesFESubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          FR</a>
        <ul class="collapse list-unstyled" id="equiditiesFESubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesSESubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          SE</a>
        <ul class="collapse list-unstyled" id="equiditiesSESubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesTRSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          TR</a>
        <ul class="collapse list-unstyled" id="equiditiesTRSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

      <li>
        <a href="#equiditiesUKSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equidities
          UK</a>
        <ul class="collapse list-unstyled" id="equiditiesUKSubmenu">
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
          <app-market-item></app-market-item>
        </ul>
      </li>

    </ul>
  </nav>
</div>
